USE_LOCAL_EMBEDDINGS=
STORAGE_CONN_STR=
CONTAINER_NAME=

INDEX_NAME=
LOCAL_FAISS_INDEX_PATH=
LOCAL_FAISS_METADATA_PATH=
CHUNK_SIZE=
CHUNK_OVERLAP=
MIN_CHUNK_SIZE=
RRF_K=
TESSERACT_LANGUAGE=
OCR_THRESHOLD=
VIEW_INTERNAL_LOG=

BATCH_SIZE=
RETRY_DELAY_SECONDS=
OPENAI_ENDPOINT=
DEPLOYMENT_NAME=
OPENAI_API_KEY=
OPENAI_DEPLOYMENT=
